Jinja2==3.1.6
traitlets==5.14.3
notebook==7.5.5
jupyterhub==5.4.4
jupyterlab==4.5.6
jupyter_contrib_nbextensions==0.7.0
jupyterlab-link-share==0.3.0
jupyter-collaboration==4.2.1
jupyterlab-latex==4.4.0